// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package hiddeninput

import (
	"context"
	"io"
)

// Show will render the input.
templ (input *Props) template() {
	<input class={ "input" } { input.attributes.ShowAttributes()... }/>
}

// Render will display the input with its options. Satisfies templ.Component.
func (input *Props) Render(ctx context.Context, w io.Writer) error {
	return input.template().Render(ctx, w)
}
