# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
*_templ.go
!*.templ
!go.sum
!go.mod

!*.yaml
!*.yml
!*.toml
!*.json
!*.js
!*.scss

!.*ignore
!.*rc

!Dockerfile

!*.md
!LICENSE

!.github/*
!.devcontainer/*

# !Makefile

# ...even if they are in subdirectories
!*/
