// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: MIT

package components

templ (f Form) Show() {
	<form
		id={ f.ID }
		{ f.Attributes... }
	>
		if f.Info != "" {
			<p class="py-6">
				{ f.Info }
			</p>
		}
		if f.Inputs != nil {
			for _, input := range f.GetInputs() {
				@input.Show()
			}
		}
		if f.Buttons != nil {
			for _, button := range f.GetButtons() {
				@button.Show()
			}
		}
		{ children... }
	</form>
}
