// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package components

templ (h Header) Show() {
	switch h.Size {
		case H1:
			<h1>{ h.Title }</h1>
		case H2:
			<h2>{ h.Title }</h2>
		case H3:
			<h3>{ h.Title }</h3>
		case H4:
			<h4>{ h.Title }</h4>
		case H5:
			<h5>{ h.Title }</h5>
		case H6:
			<h6>{ h.Title }</h6>
	}
}
