// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: MIT

package components

templ (i Icon) Show() {
	<i
		class={ i.name, i.setStyle() }
	>
		if i.label != "" {
			{ i.label }
		}
	</i>
}

func (i Icon) setStyle() string {
	switch i.style {
	case Regular:
		return "fa-regular"
	case Solid:
		return "fa-solid"
	default:
		return "fa-solid"
	}

}
