// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: MIT

package components

templ (l UnorderedList) Show() {
	<ul
		{ l.Attributes()... }
	>
		for _, item := range l.Items {
			<li>
				@item
			</li>
		}
	</ul>
}

templ (l OrderedList) Show() {
	<ol
		{ l.Attributes()... }
	>
		for _, item := range l.Items {
			<li>
				@item
			</li>
		}
	</ol>
}
