// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package components

templ (t Tabs) Show() {
	<div role="tablist" class={ t.Class() }>
		for _, panel := range t.panels {
			<input type="radio" role="tab" class="tab" label={ panel.Label } aria-label={ panel.Label }/>
			<div role="tabpanel" class="tab-content p-10">
				@panel.Content
			</div>
		}
	</div>
}
