// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package breadcrumbs

templ (breadcrumbs *Props) Show() {
	<div
		class={
			"breadcrumbs",
			breadcrumbs.classes.Show(),
		}
		{ breadcrumbs.attributes.ShowAttributes()... }
	>
		<ul>
			@breadcrumbs.ShowList()
		</ul>
	</div>
}
