package templates

templ MetaTags(keywords, description string) {
	<meta name="keywords" content={ keywords }/>
	<meta name="description" content={ description }/>
}

templ Page(title string, metaTags templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		@PageHeader(title, metaTags)
		<body>
			@ResponsiveLayoutTemplate()
			<script src="/static/scripts.js"></script>
		</body>
	</html>
}
