// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package dock

import "github.com/joshuar/go-templ-daisyui"

const (
	XS Size = "dock-xs"
	SM Size = "dock-sm"
	MD Size = "dock-md"
	LG Size = "dock-lg"
	XL Size = "dock-xl"
)

// Size defines the size of the button.
type Size = components.Class

templ (dock *Props) Show() {
	<div class={ "dock", dock.classes.Show() } { dock.attributes.ShowAttributes()... }>
		{ children... }
	</div>
}
